<navbar class="navbar navbar-expand-lg navbar-light" style="background-color: #ffffff;">
    <div class="container">
        <a class="navbar-brand" href=''>Naad Admin</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/api/admin/findEvent">Find by Event</a>
                </li>
                <li>
                    <a class="nav-link" href="/api/admin/findById">Find by NAADID</a>
                </li>
            </ul>
        </div>
    </div>
</navbar>