<%- include ./../partials/header.ejs %>

<div class="container">
    <form method="POST" action="/api/admin/findEvent">
        <h2>
            <p><ins>Event Details</ins></p>
        </h2>
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label>Event Name</label>
                <select name="event" class="form-control">
                    <option selected="selected" value="">--Select--</option>
                    <option value="Mandra Mayhem">Mandra Mayhem</option>
                    <option value="Rageshree">Rageshree</option>
                    <option value="Dhun">Dhun</option>
                    <option value="Alankaar">Alankaar</option>
                    <option value="Euphony">Euphony</option>
                    <option value="Maati">Maati</option>
                </select>
            </div>
            <div class="col-md-4 mb-3">
                <label>Name</label>
                <input name="name" type="text" class="form-control" placeholder="Last name">
            </div>
            <div class="col-md-4 mb-3">
                <label>NaadID</label>
                <input name="id" type="text" class="form-control" placeholder="(Enter the last digits after NAAD00___)">
            </div>
        </div>



        <button type="submit" class="btn btn-warning">Submit</button>
    </form>

</div>

</body>

</html>
