<%- include ./../partials/header.ejs %>



<div class="container">
    <form method="POST" action="/api/admin/login">
        <h2>
            <p><ins>Login</ins></p>
        </h2>
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label>username</label>
                <input name="username" type="text" class="form-control" placeholder="Username" required>
            </div>
            <div class="col-md-4 mb-3">
                <label>Password</label>
                <input name="password" type="text" class="form-control" placeholder="password" required>
            </div>
        </div>


        <button class="btn btn-warning">Submit</button>
    </form>
</div>
</body>

</html>
